footer {
  background-color: #424953;
  color: white;
  text-align: center;
  padding: 20px;
  bottom: 0;
  width: 100%;
  font-size: 14px;
  margin-top: 20px;
}

footer a {
  color: #ddd;
  text-decoration: none;
}

footer a:hover {
  color: #fff;
  text-decoration: underline;
}
