@import url(../css/header.css);
@import url(../css/searchbar.css);

a {
  text-decoration: none;
  color: white;
  margin: 10px;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
  color: #333;
  height: 100vh; /* Ensure body takes the full viewport height */
  display: flex;
  flex-direction: column;
}

#posts-container {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 kolonner på større skjermer */
  gap: 20px; /* Legger til plass mellom innleggene */
  justify-items: center;
  width: 100%;
}

/* Styler for postene */
.post {
  border: 1px solid #ccc;
  padding: 20px;
  font-size: 16px;
  line-height: 1.6;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-sizing: border-box; /* Sørger for at padding og border ikke øker størrelsen */
  display: flex;
  flex-direction: column; /* Gjør at innholdet i posten er stablet vertikalt */
  justify-content: space-between; /* Fordeler plassen jevnt */
  height: 350px; /* Setter en fast høyde på innleggene */
  overflow: hidden; /* Forhindrer at innholdet strekker seg utenfor */
}

/* Linkene inne i postene */
.post-link {
  text-decoration: none;
  color: inherit;
}

.post:hover {
  background-color: #f9f9f9;
}

/* For bilder inne i postene */
.post img {
  width: 100%;
  height: auto;
  max-height: 200px; /* Begrenser bildehøyden */
  object-fit: cover;
  margin-bottom: 10px; /* Litt avstand mellom bildet og teksten */
}

/* Tittel i posten */
h3 {
  font-size: 1.5rem;
  margin-bottom: 10px; /* Litt avstand under tittelen */
}

/* Tekst i posten */
p {
  font-size: 1rem;
  margin-bottom: 10px; /* Litt avstand under teksten */
}

/* Responsivitet: 2 kolonner på mindre skjermer */
@media (max-width: 768px) {
  #posts-container {
    grid-template-columns: repeat(2, 1fr); /* 2 kolonner på mindre skjermer */
  }
}
