@import url(../css/header.css);
@import url(../css/footer.css);

body {
  font-family: "Arial", sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
  color: #333;
  height: 100vh; /* Ensure body takes the full viewport height */
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 14px;
  background-color: #f7f7f8;
  max-width: 100%;
}

.registerform {
  background-color: #ffffff;
  padding: 40px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.registerform label {
  font-weight: bold;
  margin-bottom: 5px;
}

.registerform input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.registerform input:focus {
  border-color: #424953;
  outline: none;
  box-shadow: 0 0 5px rgba(66, 73, 83, 0.5);
}

.registerbutton {
  width: 100%;
  padding: 12px;
  background-color: #424953;
  font-size: 16px;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.registerbutton:hover {
  background-color: #2e333b;
}

.login-link {
  display: inline-block;
  font-weight: bold;
  color: #424953;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #f0f0f0;
  transition: all 0.3s ease-in-out;
}

.login-link:hover {
  background-color: #424953;
  color: white;
  text-decoration: none;
}
