@import url(../css/header.css);
@import url(../css/footer.css);
body {
  font-family: "Arial", sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
  color: #333;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  justify-content: center;
  padding: 14px;
  padding-bottom: 250px;
}

.post-link {
  display: block;
  text-decoration: none;
  color: inherit;
  padding: 10px;
}

.post-link:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  background-color: #fff;
  max-width: 1500px;
  width: 100%;
  gap: 20px;
}

.image {
  width: 300px;
  height: 400px;
  border-radius: 8px;
  overflow: hidden;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.text {
  max-width: 50%;
}

.buttons {
  margin-top: auto;
  display: flex;
  gap: 10px;
}

.edit-button,
.delete-button {
  padding: 10px 20px;
  background-color: #424953;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
